langchain
langchain-google-genai
huggingface-hub
pydantic
matplotlib
flask
flask-mysqldb
flask-cors
serpapi
beautifulsoup4
playwright
google-search-results
gunicorn
langchain-core




